body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #222;
    color: white;
}
h1 {
    margin-top: 20px;
}
.event {
    padding: 10px;
    border-bottom: 1px solid #555;
}
iframe {
    border: none;
}